{% extends 'base.html' %}
{% block contenido_login %}
<div style="margin:0 auto; text-align:center; width:500px">
    <h3>Cambiar Clave</h3>
    <form method="post" class="LoginFormulario" style="text-align:left">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Cambiar</button>
    </form>
  {% else %}
    <p>
      El link es inválido, probablemente ya haya sido utiilzado. 
      Por favor, solicite un nuevo reseteo de clave.
    </p>
    <hr/>
<a href="{% url 'inicio' %}">Inicio</a>
  </div>
{% endblock %}